[mysqld]
# 1. user
user                    = mysql

# 2. file_compose
pid-file                = /run/mysqld/mysqld.pid
socket                  = /run/mysqld/mysqld.sock

# 3. network
port                    = 3306
bind-address            = 0.0.0.0

# 4. save_volume
basedir                 = /usr
datadir                 = /var/lib/mysql
tmpdir                  = /tmp

# 5. error_log
lc-messages-dir         = /usr/share/mysql
log_error               = /var/log/mysql/error.log

# 6. chara-set
character-set-server    = utf8mb4
collation-server        = utf8mb4_general_ci